body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    height: 15%;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #3E5F44;
    line-height: 100px;
}

footer {
    text-align: center;
    background-color: #3E5F44;
    margin-top: 100px;
    height: 100px;
    color: white;
    font-size: 30px;
    line-height: 100px;
}

ul {
    list-style: none;
    padding: 0;
    word-spacing: -4px;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.listSection {
    text-align: center;
    height: 100vh;
}

.listItemBase {
    display: inline-block;
    width: 90%;
    margin-top: 15px;
    box-shadow: 5px 2px 20px gray;
}

.internalList {
    height: 100%;
    background-color: #e7ffe7;

}

.internalList .listItemInternal {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.listItemInternal h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.progressBox {
    word-spacing: 10px;
    margin-left: 10px;
}

.listItemInternal b {
    color: rgb(43, 43, 255);
}

.listItemInternal button {
    width: 70%;
    height: 30px;
    background-color: #5E936C;
    border-radius: 100px;
    vertical-align: middle;
    color: white;
    border: none;
    box-shadow: 0 0 20px gray;
    cursor: pointer;
}

.star {
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.boxShadow {
    box-shadow: 5px 0 25px rgba(128, 128, 128, 0.325);
}


.lineHeight70 {
    line-height: 70px;
}

.wordSpacing3 {
    word-spacing: 3px;
}

.textAlignCenter {
    text-align: center;
}

.verticalAlignMiddle {
    vertical-align: middle;
}


@media (max-width : 700px) {
    li {
        width: 100% !important;
    }
}