@font-face {
    font-family: sammim;
    src: url(/assets/fonts/sammim/Samim-Bold-FD.woff);
    src: url(/assets/fonts/sammim/Samim-Bold-FD.woff2);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    height: 80px;
    background-color: rgba(3, 3, 127, 0.803);
    color: white;
    text-align: center;
    padding-top: 20px;
}

main {
    padding: 20px;
    height: 100%;
    background-color: antiquewhite;
}

.listSection {
    list-style: none;
    word-spacing: -4px;
    vertical-align: middle;
}

.listItemBase {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.listItemInternal {
    width: 25%;
    height: 100%;
    display: inline-block;
    /* text-align: center; */
}

.boxShadow {
    box-shadow: 0 0 10px gray;
}

.imgGithub {
    width: 60px;
    height: 60px;
    margin: 10px 10px 10px 30px;
    vertical-align: middle;
}

.linkGithub {
    font-size: 20px;
    text-decoration: none;
    color: blue;
    margin-left: 20px;
    vertical-align: middle;
}

.listtwo {
    padding: 10px 10px 10px 30px;
}

.listProgress {
    width: 50%;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.listtwo span {
    vertical-align: middle;
}

.iIcon {
    vertical-align: middle;
}

.star {
    color: rgb(255, 187, 0);
}

.visitWebsite {
    padding: 10px 20px;
    background-color: rgb(255, 145, 0);
    border-radius: 99px;
    text-decoration: none;
    color: white;
}

.listrour {
    text-align: right;
    padding-right: 30px;
}


footer {
    height: 50px;
    margin: 25px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 700px) {
    li {
        width: 100%;
    } 
}