/* فونت ها */

@font-face {
    font-family: Vazir;
    src: url('/assets/fonts/ttf/Vazirmatn-Black.ttf');
}

@font-face {
    font-family: sammim;
    src: url('/assets/fonts/sammim/Samim-Bold-FD.woff');
    src: url('/assets/fonts/sammim/Samim-Bold-FD.woff2');
}



/* سلکتور همه تگ ها */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* سلکت تگ بادی */

body {
    font-family: sammim;
    height: 100%;
    text-align: center;
    background-color: #FAF9EE;
}

/* هدر سایت اصلی */

header {
    height: 20%;
    background-color: #A2AF9B;
    color: #EEEEEE;
    padding: 20px 0;
}

/* فوتر سایت اصلی */

footer {
    height: 20%;
    background-color: #A2AF9B;
    color: #EEEEEE;
    padding: 20px 0;
}

/* تگ لینک هدر سایت اصلی */

header a {
    text-decoration: none;
    font-size: 20px;
    color: #0048ff;
}

main {
    padding: 30px;
}

/* تکس کانتینر صفحه اصلی */

.text-container {
    display: inline-block;
    width: 20%;
    border-radius: 5px;
    background-color: #A2AF9B;
    padding: 10px;
    color: #EEEEEE;
}

/* تکس باکس صفحه اصلی سایت */

.text-box {
    text-align: left;
}

.text-box h3 {
    text-shadow: 3px 3px 10px #ff0000;
}

.text-box p {
    line-height: 2;
    text-align: justify;
}

/* گالری تصاویر صفحه اصلی سایت */

.gallry-box {
    display: inline-block;
    width: 57%;
    background-color: #A2AF9B;
    padding: 5px;
    border-radius: 5px;
    vertical-align: top;
}

.gallry-box img {
    width: 100%;
    border-radius: 10px;
}

.image-box {
    display: inline-block;
    width: 30%;
    margin: 0 10px;
    vertical-align: middle;
}

.Circle {
    border-radius: 100% !important;
    width: 200px;
    height: 200px;
    margin: 30px 0;
    box-shadow: 3px 3px 20px rgb(0, 0, 0);
}


/* ریسپانسیو */


@media (max-width: 412px) {

    main {
        padding: 5px;
    }

    .text-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .gallry-box {
        width: 100%;
        margin-bottom: 5px;
    }

    .image-box {
        margin: auto;
    }

    .Circle {
        width: auto;
        height: auto;
    }

    .text-box h3 {
        font-size: small;
    }

    .text-box p {
        line-height: 2;
        font-size: small;
    }
}

@media (max-width: 854px) {

    main {
        padding: 5px;
    }

    .text-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .gallry-box {
        width: 100%;
        margin-bottom: 5px;
    }

    .image-box {
        margin: auto;
        width: 90%;
    }

    .Circle {
        width: auto;
        height: auto;
    }

    .text-box h3 {
        font-size: small;
    }

    .text-box p {
        line-height: 2;
        font-size: small;
    }
}

@media (max-width: 1024px) {

    main {
        padding: 5px;
    }

    .text-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .gallry-box {
        width: 100%;
        margin-bottom: 5px;
    }

    .image-box {
        margin: auto;
    }

    .Circle {
        width: auto;
        height: auto;
    }

    .text-box h3 {
        font-size: small;
    }

    .text-box p {
        line-height: 2;
        font-size: small;
    }
}

@media (max-width: 1280px) {

    main {
        padding: 5px;
    }

    .text-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .gallry-box {
        width: 100%;
        margin-bottom: 5px;
    }

    .image-box {
        margin: auto;
    }

    .Circle {
        width: auto;
        height: auto;
    }

    .text-box h3 {
        font-size: small;
    }

    .text-box p {
        line-height: 2;
        font-size: small;
    }
}




/* استایل های صفحه ثبتنام */



.regestersection {
    text-align: center;
}

.regesterbox {
    display: inline-block;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    margin-top: 10px;
    padding-right: 60px;
}

.regesterhesder {
    text-align: justify;
    margin-bottom: 30px;
}

.regesterhesder h1 {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, #FAFF00, #00E0FF);
    background-clip: text;
    display: inline-block;
    margin-bottom: 8px;
}

.redtext {
    color: red;
}

.regesterform {
    text-align: justify;
}

.halfinput {
    width: 47%;
    display: inline-block;
    margin: 5px 0px;
}

.halfinput input {
    box-shadow: 0 0 10px white inset;
}

.halfinput label {
    text-align: left;
}

.radiobox input {
    width: 15px;
    vertical-align: sub;
    margin-left: 10px;
}

.radiobox label {
    vertical-align: super;
    margin-left: 10px;
}

.radiobox p {
    font-size: 15px;
    border: none;
    width: 40%;
    height: 30px;
    background: linear-gradient(to right, #FF8A00, #DBFF00);
    border-radius: 100px;
    padding-left: 10px;
    padding-top: 5px;
}

input {
    border: none;
    width: 90%;
    height: 30px;
    background: linear-gradient(to right, #FF8A00, #DBFF00);
    border-radius: 100px;
    margin: 5px 0px;
    font-family: inherit;
    padding-right: 10px;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.lineinput {
    margin: 5px 0px;
}

.lineinput input {
    box-shadow: 0 0 5px white;
}



.checkbox input {
    width: 20px;
    vertical-align: sub;
}

.checkbox label {
    vertical-align: super;
}

.submit {
    text-align: center;
}

.submit button {
    width: 40%;
    background-color: #FF8A00;
    border: none;
    height: 30px;
    border-radius: 100px;
    font-size: 15px;
    cursor: pointer;
    transition: all 1s;
    font-family: inherit;
}

button:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

button:focus {
    box-shadow: 0 0 5px rgb(255, 254, 254) inset;
    background-color: #DBFF00;
}

.verticalAlignMidlle {
    vertical-align: middle;
}




@media (max-width: 412px) {
    .regesterbox {
        width: 90%;
    }
}